<!-- MARQUEE -->
<div class="marquee">
  <div class="mtrack">
    <span class="mi">STREETWEAR</span><span class="mi hl">★</span><span class="mi">VOID</span><span class="mi hl">★</span><span class="mi">AUTHENTIC</span><span class="mi hl">★</span><span class="mi">LIMITED</span><span class="mi hl">★</span><span class="mi">SS25</span><span class="mi hl">★</span><span class="mi">NO RULES</span><span class="mi hl">★</span>
    <span class="mi">STREETWEAR</span><span class="mi hl">★</span><span class="mi">VOID</span><span class="mi hl">★</span><span class="mi">AUTHENTIC</span><span class="mi hl">★</span><span class="mi">LIMITED</span><span class="mi hl">★</span><span class="mi">SS25</span><span class="mi hl">★</span><span class="mi">NO RULES</span><span class="mi hl">★</span>
  </div>
</div>
<div class="marquee marquee2" style="margin-top:-1px;">
  <div class="mtrack rev">
    <span class="mi">OVERSIZED</span><span class="mi hl">✦</span><span class="mi">PREMIUM</span><span class="mi hl">✦</span><span class="mi">URBAN</span><span class="mi hl2">✦</span><span class="mi">CULTURE</span><span class="mi hl">✦</span><span class="mi">MADE FOR</span><span class="mi hl2">✦</span><span class="mi">THE STREETS</span><span class="mi hl">✦</span>
    <span class="mi">OVERSIZED</span><span class="mi hl">✦</span><span class="mi">PREMIUM</span><span class="mi hl">✦</span><span class="mi">URBAN</span><span class="mi hl2">✦</span><span class="mi">CULTURE</span><span class="mi hl">✦</span><span class="mi">MADE FOR</span><span class="mi hl2">✦</span><span class="mi">THE STREETS</span><span class="mi hl">✦</span>
  </div>
</div>
