# Puerto del servidor
PORT=3000

# Secret para JWT (cambiar en producción)
JWT_SECRET=void-streetwear-tfg-secret-key-change-in-production-2026

# Password de administrador (en texto plano para este TFG)
ADMIN_PASSWORD=Password

# Entorno (development | production)
NODE_ENV=development

# Ruta de uploads
UPLOADS_DIR=./uploads

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:5500
