<!-- CATS -->
<div id="cats">
  <div class="sec-head reveal"><h2 class="sec-title">CATEGORÍAS</h2><span class="sec-meta">Explorar todo</span></div>
  <div class="cats">
    <a href="#" class="cat reveal" (click)="$event.preventDefault()">
      <div class="cat-bg" style="background-image:url('http://localhost:3000/nexline_datos/images/categorias/hoodies.jpg')"></div>
      <span class="cat-num">01</span><span class="cat-name">HOODIES</span><span class="cat-count">5 piezas</span><span class="cat-arrow">→</span>
    </a>
    <a href="#" class="cat reveal" (click)="$event.preventDefault()">
      <div class="cat-bg" style="background-image:url('http://localhost:3000/nexline_datos/images/categorias/tees.jpg')"></div>
      <span class="cat-num">02</span><span class="cat-name">TEES</span><span class="cat-count">5 piezas</span><span class="cat-arrow">→</span>
    </a>
    <a href="#" class="cat reveal" (click)="$event.preventDefault()">
      <div class="cat-bg" style="background-image:url('http://localhost:3000/nexline_datos/images/categorias/cazadoras.jpg')"></div>
      <span class="cat-num">03</span><span class="cat-name">CAZADORAS</span><span class="cat-count">2 piezas</span><span class="cat-arrow">→</span>
    </a>
    <a href="#" class="cat reveal" (click)="$event.preventDefault()">
      <div class="cat-bg" style="background-image:url('http://localhost:3000/nexline_datos/images/categorias/zapatillas.jpg')"></div>
      <span class="cat-num">04</span><span class="cat-name">ZAPATILLAS</span><span class="cat-count">5 piezas</span><span class="cat-arrow">→</span>
    </a>
  </div>
</div>
